.body {
  font-family: Rubik, sans-serif;
}

.navigation {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  max-width: 1170px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.logo {
  text-decoration: none;
}

.logo.w--current {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Hind, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 130px;
  margin-bottom: 140px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-link {
  display: inline-block;
  margin: 26px auto 0px;
}

.main-message {
  margin-top: -10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 57%;
  -ms-flex: 0 0 57%;
  flex: 0 0 57%;
}

.illustration {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.bottom-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 184px;
  height: 58px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(270deg, #3e8b73, #3e8b73);
  background-image: linear-gradient(180deg, #3e8b73, #3e8b73);
}

.top-cta {
  position: absolute;
  width: 184px;
  height: 54px;
  margin-top: -2px;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(270deg, #66c7ac, #45aa89);
  background-image: linear-gradient(180deg, #66c7ac, #45aa89);
}

.cta-text {
  position: absolute;
  z-index: 1;
  display: block;
  font-family: Hind, sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.heading {
  margin-top: 0px;
  margin-bottom: 22px;
  font-family: Rubik, sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
}

.heading-2 {
  max-width: 500px;
  font-family: Rubik, sans-serif;
  color: #414149;
  font-size: 20px;
  line-height: 33px;
  font-weight: 400;
}

.personal-link {
  font-family: Montserrat, sans-serif;
  color: #a5adaf;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
}

.bold-text-top {
  font-family: Hind, sans-serif;
  color: #a3a09f;
  font-size: 14px;
  font-weight: 500;
}

.martin-hudobivnik {
  font-family: Hind, sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.top-link {
  float: right;
  clear: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Nunito;
  text-decoration: none;
}

.section-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.elements-text {
  margin-bottom: 80px;
  color: #333;
  font-size: 20px;
  line-height: 33px;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-10 {
  color: #333;
  font-size: 24px;
  line-height: 36px;
}

.div-block-16 {
  max-width: 500px;
}

.text-block-11 {
  margin-top: 170px;
  font-family: Hind, sans-serif;
  color: #333;
  font-weight: 500;
  text-transform: none;
}

.gallery-scroll-track-2 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
}

.div-block-2 {
  display: block;
  overflow: hidden;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.gallery-container-3 {
  position: relative;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery-full {
  position: static;
  display: block;
  width: 100%;
  height: 280vh;
}

.gallery-track-3 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300vw;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-17 {
  max-width: 650px;
}

.div-block-18 {
  position: absolute;
  width: 100%;
  height: 330px;
  background-image: -webkit-linear-gradient(270deg, #f5f0ee, #fff);
  background-image: linear-gradient(180deg, #f5f0ee, #fff);
}

.element-text {
  display: block;
  color: #333;
  font-size: 17px;
}

.element-text.first-text {
  display: block;
  color: #fff;
}

.div-block-19 {
  display: block;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-20 {
  position: absolute;
  width: 200px;
  height: 300px;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(0deg, #f6f1f1, #fff);
  background-image: linear-gradient(90deg, #f6f1f1, #fff);
  opacity: 0.25;
}

.div-block-21 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.div-block-22 {
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  clear: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.website-text {
  margin-top: 2px;
  opacity: 0.7;
  font-family: Hind, sans-serif;
  color: #a99b9b;
  font-size: 14px;
  font-weight: 500;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 11px;
  margin-left: auto;
}

.website-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-left: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-26 {
  display: block;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-left: 15px;
}

.link-website-1 {
  margin-right: 5px;
  margin-left: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(270deg, #f6f1f1, #f6f1f1);
  background-image: linear-gradient(180deg, #f6f1f1, #f6f1f1);
  text-decoration: none;
}

.embed-scroll {
  display: block;
  line-height: 0px;
}

.embed-composition {
  display: block;
  line-height: 0px;
}

.embed-colors {
  display: block;
  line-height: 0px;
}

.bold-text {
  color: #a3a09f;
  font-weight: 500;
}

.arrow {
  position: absolute;
  z-index: 11111;
  display: block;
  margin-left: 45px;
}

.website-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery-tablet {
  width: 100%;
  height: 280vh;
}

.gallery-container-tablet {
  position: relative;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.embed-security {
  display: block;
  line-height: 0px;
}

.embed-accessibility {
  display: block;
  line-height: 0px;
}

.embed-consistency {
  display: block;
  line-height: 0px;
}

.embed-grid {
  display: block;
  line-height: 0px;
}

.element-bg-1 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Scroll.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.element-bg-15 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Security.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.element-bg-13 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Accessibility.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.element-bg-12 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Consistency.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.element-bg-11 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Grid.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.embed-whitespace {
  display: block;
  line-height: 0px;
}

.element-bg-14 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Whitespace.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.element-bg-2 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Composition.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.element-bg-3 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Colors.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.element-bg-4 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Message.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.element-bg-5 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Typography.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.embed-message {
  display: block;
  line-height: 0px;
}

.embed-typography {
  display: block;
  line-height: 0px;
}

.element-bg-6 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Assets.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.element-bg-7 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Uniqueness.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.embed-uniqueness {
  display: block;
  line-height: 0px;
}

.element-bg-8 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Contrast.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.embed-contrast {
  display: block;
  line-height: 0px;
}

.element-bg-9 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Interactions.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.element-interactions {
  display: block;
  line-height: 0px;
}

.element-bg-10 {
  width: 200px;
  height: 300px;
  margin-right: 75px;
  margin-bottom: 22px;
  background-image: url('../images/Responsiveness.png');
  background-position: 0px 0px;
  background-size: 200px;
}

.element-responsiveness {
  display: block;
  line-height: 0px;
}

.embed-assets {
  display: block;
  line-height: 0px;
}

@media (max-width: 991px) {
  .navigation {
    padding-right: 45px;
    padding-left: 45px;
  }
  .cta-link {
    text-align: center;
  }
  .main-message {
    margin-left: 30px;
    -webkit-flex-basis: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }
  .illustration {
    margin-right: 45px;
  }
  .heading {
    font-size: 24px;
    line-height: 36px;
  }
  .heading-2 {
    font-size: 19px;
  }
  .section-3 {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block-10 {
    font-size: 20px;
    text-align: center;
  }
  .div-block-16 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 420px;
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block-11 {
    margin-top: 92px;
    text-align: center;
  }
  .div-block-2 {
    margin-left: 45px;
  }
  .gallery-full {
    display: block;
  }
  .gallery-track-3 {
    margin-left: 30px;
  }
  .div-block-22 {
    margin-top: 50px;
    margin-left: -13px;
    padding-left: 0px;
    -webkit-flex-basis: 50px;
    -ms-flex-preferred-size: 50px;
    flex-basis: 50px;
  }
  .div-block-25 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .embed-scroll {
    display: block;
  }
  .gallery-tablet.stickytablet {
    position: relative;
    top: 0px;
    height: 175vh;
  }
  .div-block-19-tablet {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .gallery-track-tablet {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 300vw;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .element-bg-15 {
    background-image: url('../images/Security.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-bg-13 {
    background-image: url('../images/Accessibility.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-bg-12 {
    background-image: url('../images/Consistency.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-bg-11 {
    background-image: url('../images/Grid.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-bg-14 {
    background-image: url('../images/Whitespace.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-bg-5 {
    background-image: url('../images/Typography.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-bg-6 {
    margin-right: 75px;
    margin-bottom: 22px;
    background-image: url('../images/Assets.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-bg-7 {
    background-image: url('../images/Uniqueness.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-bg-8 {
    background-image: url('../images/Contrast.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-bg-9 {
    background-image: url('../images/Interactions.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-interactions {
    line-height: 0px;
  }
  .element-bg-10 {
    background-image: url('../images/Responsiveness.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .embed-assets {
    line-height: 0px;
  }
}

@media (max-width: 767px) {
  .hero-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 110px;
    margin-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .cta-link {
    text-align: left;
  }
  .main-message {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .illustration {
    margin-top: 20px;
    margin-right: -10px;
    padding-right: 39px;
  }
  .bottom-cta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  .heading {
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 28px;
    line-height: 44px;
    text-align: center;
  }
  .heading-2 {
    margin-top: 0px;
    text-align: center;
  }
  .section-1 {
    height: auto;
  }
  .elements-text {
    display: block;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .section-3 {
    margin-top: 90px;
  }
  .div-block-26 {
    padding-right: 45px;
    padding-left: 45px;
  }
  .embed-composition {
    position: static;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .embed-colors {
    display: block;
  }
  .element-15 {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
  }
  .element-bg-15 {
    margin-right: 0px;
  }
  .element-13 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }
  .element-bg-13 {
    margin-right: 0px;
    background-image: url('../images/Accessibility.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-12 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }
  .element-bg-12 {
    margin-right: 0px;
    background-image: url('../images/Consistency.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-11 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }
  .element-bg-11 {
    margin-right: 0px;
    background-image: url('../images/Grid.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-14 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }
  .element-bg-14 {
    margin-right: 0px;
    background-image: url('../images/Whitespace.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-1 {
    display: none;
  }
  .element-2 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
  }
  .element-bg-2 {
    position: static;
    display: inline-block;
    margin-right: 0px;
    background-image: url('../images/Composition.png');
    background-position: 0px 0px;
    background-size: 200px;
  }
  .element-3 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
  }
  .element-bg-3 {
    display: inline-block;
    margin-right: 0px;
  }
  .element-4 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }
  .element-bg-4 {
    margin-right: 0px;
  }
  .element-5 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }
  .element-bg-5 {
    margin-right: 0px;
  }
  .element-6 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }
  .element-bg-6 {
    margin-right: 0px;
  }
  .element-7 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }
  .element-bg-7 {
    margin-right: 0px;
  }
  .element-8 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }
  .element-bg-8 {
    margin-right: 0px;
  }
  .element-9 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }
  .element-bg-9 {
    margin-right: 0px;
  }
  .element-interactions {
    line-height: 0px;
  }
  .element-10 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }
  .element-bg-10 {
    margin-right: 0px;
  }
  .embed-assets {
    line-height: 0px;
  }
  .div-block-28 {
    display: block;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 479px) {
  .navigation {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .logo.w--current {
    display: block;
    margin-right: auto;
    margin-bottom: 9px;
    margin-left: auto;
  }
  .heading {
    margin-top: 35px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 22px;
    line-height: 32px;
  }
  .heading-2 {
    font-size: 18px;
    line-height: 28px;
  }
  .top-link {
    float: none;
  }
  .website-text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .div-block-24 {
    display: block;
  }
  .div-block-25 {
    display: block;
  }
  .link-website-1 {
    margin-bottom: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

